---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About me">
  <section class="text-page">
    <div class="about-grid">
      <div class="about-content">
        <p class="about-copy">
          Hi, I’m Ewa.<br />
          A creative and tech-savvy person.<br />
          <br />
          I used to dream of living in a secluded forest and writing books. That dream led me to
          study comparative literature and learn a few human languages.<br />
          <br />
          As life unfolded, I stumbled into tech. Instead of retreating to a wooden shed with my
          typewriter (yes, I do own one), I found myself arguing with an interpreter in a busy city
          office. That’s how I became a frontend developer.<br />
          <br />
          My engineering colleagues like to remind me that it’s “not a real job,” but I genuinely
          enjoy shaping interfaces, playing with UI, and creating all sorts of illustrations and
          artwork. Lately, I’ve also started exploring and training AI models. It’s a fascinating
          medium to experiment with and discover new ways of creating.<br />
          <br />
          If you’re interested in working together or just chatting about poetry, black metal, or the
          physics of V60 coffee, send me a message :)
        </p>
        <div class="about-links">
          <a class="about-cv" href="/cv.pdf" target="_blank" rel="noreferrer">cv</a>
          <p class="about-contact">
            message me at
            <a class="about-email" href="mailto:ewa.lazar@proton.me">ewa.lazar@proton.me</a>
          </p>
        </div>
      </div>
      <div class="about-figure" aria-hidden="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 373.807 1339.826"
          aria-hidden="true"
        >
          <path
            d="M159.428,1176.459c.667,13.617.348,26.996,3.569,39.806,1.999,7.949,5.394,14.844,5.091,23.486-.178,5.088,1.155,10.597,1.347,15.759.329,8.845-5.18,14.698-13.713,15.591l-64.296,6.731c-22.765,2.383-60.734,7.873-81.336,1.187-7.467-2.423-13.851-19.857-4.581-27.38,8.841-7.175,18.385-12.743,29.281-16.505l37.994-13.116c8.782-3.031,16.719-7.938,25.739-10.214,4.227-1.067,6.977-1.676,9.349-6.163,4.306-8.144,5.186-18.075,4.028-27.523-7.274-2.753-20.392-1.252-18.354-12.472.916-5.04-.048-9.222-.059-14.104l-.154-68.954.049-47.006.16-52.1.648-72.862.056-32.089,1.701-75.16,3.289-73.681c.39-8.73,4.53-64.826.482-67.107-3.434-1.935-5.41-3.891-5.202-8.035l2.647-52.927,1.272-45.015c.447-15.808,2.084-30.682,1.678-47.228-9.017,18.016-17.089,47.593-36.392,57.324-8.084,4.075-17.269,2.383-23.413-4.036-4.688-4.896-7.655-10.743-9.922-17.197-14.133-40.231-9.441-126.179-16.012-152.651-7.088-28.556-15.616-56.241-14.227-86.237.229-4.95-.471-15.829,5.985-17.842,2.474-.771,4.209.088,6.54,2.046l1.888-11.765c.584-3.64,3.844-5.928,7.301-6.055,3.343-.123,5.404,2.692,7.337,6.014,1.575-5.66,3.103-10.966,8.555-11.925,6.049-1.064,9.106,4.412,9.751,10.874,1.867-2.853,3.493-4.711,6.454-4.688,8.474.065,8.784,11.961,8.717,19.35l-.211,23.552c3.243-2.459,6.445-4.876,10.272-3.916,10.435,2.616-2.435,29.156-4.821,40.767-2.508,12.202-11.302,21.562-14.222,32.875-4.592,17.794,2.512,36.938,3.412,54.889,1.471,1.819,1.422,1.123,2.02-.259l21.622-63.486c5.074-14.898,15.184-43.068,27.316-52.929-1.398-21.019-4.346-41.193-6.908-62.26-2.706-22.247-2.556-43.79-3.49-66.233l-2.633-63.245c-.723-17.356,2.367-34.401,8.639-50.579,5.806-14.977,12.56-28.769,19.857-42.928,6.236-12.1,15.553-22.089,26.246-29.467,15.87-10.95,32.054-10.455,49.63-7.681,4.057.64,33.717-8.031,61.449,20.547,7.467,7.694,14.212,15.933,19.408,25.571,19.05,35.33,22.682,75.899,23.843,115.865l3.159,108.78c.27,9.308.356,17.812,1.282,27.037l2.781,27.685c.472,4.698,5.11,8.274,6.726,12.776l18.988,52.897c3.128,8.715,25.741,92.517,14.624,95.931-3.993,1.226-7.887,1.171-12.462,1.83l2.735,51.922.563,58.162c.332,34.296-.853,67.702-4.007,101.83-.729,7.887-2.18,14.94-1.113,22.636,22.428-12.592,23.322-3.925,20.048-1.05-2.193-.829-4.87-1.793-6.45-.713-4.617,3.155-9.592,5.213-13.786,8.753.542,1.543.899,2.311,1.818,1.819l18.542-9.925,6.406,35.176c3.262,17.913,7.105,35.167,9.724,53.222.539,3.719-.663,6.93-3.184,9.211-12.28,11.113-25.017,20.831-38.361,30.681-10.8,7.972-20.388,15.836-32.418,22.476l-3.434,95.772.538,68.004.118,49.911.706,55.117c.101,7.916,1.155,15.48.184,23.162-1.615,12.773-12.236,9.924-21.588,14.614.523,13.74,1.145,26.778,3.488,39.941.99,5.56,3.374,10.494,3.501,16.371.21,9.691,1.316,19.066,2.071,28.843.526,6.813-1.101,13.444-4.978,19.047-26.362,38.097-41.846,59.726-93.77,53.037-12.995-1.674-11.681-19.766-10.079-23.959,6.351-16.617,14.973-31.35,25.11-45.806l27.886-39.767c3.903-14.599-.908-31.255-.144-46.413-6.874-3.062-20.511-.276-19.678-9.083.827-8.744.244-17.142-.314-26.045l-3.944-62.993-5.304-98.063-6.315-131.402c-.421-8.754-.895-16.733-.208-25.87.087-2.203-1.471-1.519-2.243.016.517,7.952-.611,14.755-1.077,22.477l-7.444,123.396-2.853,65.422-2.451,80.035c-.469,15.32-.041,29.773.613,45.015.115,2.685-.08,5.209-2.821,6.045l-15.858,4.835ZM174.471,139.575c1.541-14.17,9.994-23.459,22.081-28.307l-20.844-2.749c-1.903-4.778-1.866-9.616-2.78-13.977-2.877,6.094-3.903,11.956-8.765,16.121.762,9.93-.871,18.782-3.562,28.304,4.977.272,9.369,1.701,13.872.608ZM127.162,152.048c12.873,1.7,23.919-5.73,28.516-17.144,3.22-7.994,4.194-16.208,2.37-24.989-15,.27-31.474,2.095-42.753,12.623-5.196,4.85-4.499,27.348,11.868,29.509ZM229.759,123.896c-6.538,2.31-6.605-3.579-9.369-5.201-13.967-8.196-32.806-.783-38.315,14.097-2.787,7.527-2.633,15.879,2.104,22.017,5.149,6.672,13.354,9.337,21.449,8.643,19.202-1.647,28.473-21.96,24.131-39.555ZM234.586,146.904c8.096.392,14.63.773,22.604-.08-6.24-10.845-10.873-20.555-14.845-31.505-11.069,22.337-3.005,8.301-7.758,31.585ZM230.174,313.555c1.61,1.359,5.754-1.769,4.944-3.388-1.342-2.68-4.461-4.115-3.441-7.277,2.883-1.032,3.988,4.718,7.028,4.749.715.007,1.564-.777,2.005-1.657,1.091-2.179-2.496-.563-3.99-8.412-4.124-21.663-2.59-32.775-1.273-54.615-2.184.23-4.393.72-4.699-1.101,27.414-20.489,17.477-14.315,27.797-39.975,4.655-11.575,8.068-23.637,7.79-36.278-.106-4.808-4.143-8.83-5.904-13.164l-26.875-.355c-1.551-.021-3.279,3.497-2.516,4.664,14.385,5.308,13.626,20.644,8.99,32.428-2.654,6.748-8.552,9.958-15.652,9.952-7.43-.007-14.777-2.033-19.633-7.863-4.996-5.999-5.069-13.753-3.094-21.284-14.53-2.607-25.88-8.77-27.138-23.826-3.634-.669-6.5-1.316-10.122-1.284-2.734,7.106-5.13,14.068-8.489,21.03-.953,1.976.773,3.879,2.405,4.512l8.342,3.235c1.337,3.09,1.074,22.416-2.789,22.233-4.225-.2.743-13.728-.571-18.085-2.462-1.789-5.817-2.131-8.256-3.612-11.344-6.886,4.782-18.334,3.624-30.528-6.43,6.88-12.447,11.947-21.525,14.114,3.367,8.894,3.276,18.596-2.936,25.58-4.668,5.249-11.624,5.894-18.525,6.514.624,13.664,5.882,25.995,13.355,37.274l13.552,20.454c11.337,17.111,40.258,8.464,58.093,7.008-13.219,7.513-27.902,9.727-42.914,7.544.803,10.772,5.307,40.154-3.617,46.405,1.3,2.029,2.883-.623,4.162-.134,4.276,1.633-4.352,4.433-2.054,7.808,4.056,5.957,6.668-6.495,9.002-2.691,1.416,2.308-1.656,4.443-2.3,6.398-.671,2.035,1.227,2.637,2.636,2.962,5.662,1.306,2.131-5.823,6.632-6.288,2.29,1.179-.407,4.826-.053,7.217.29,1.961,3.959,1.731,5.256,1.133,1.925-.888.759-5.931,2.941-6.907.596-.267,1.438-.02,1.672.47.884,1.846-.75,5.202.003,6.226.901,1.226,3.013.863,4.009.715,2.832-.42.4-9.716,4.017-7.047,2.356,1.739-.33,6.725,2.624,6.887,1.17.064,3.564.122,4.817-.827,1.229-.931-1.886-7.472,1.283-6.955,1.949.318,1.341,5.9,3.456,6.436,1.436.365,3.399-.231,4.542-.886,2.121-1.215-1.822-5.799.298-7.397,2.8-2.111,2.515,6.04,5.831,6.134,1.212.034,4.154-.284,4.113-2.121-.049-2.228-2.973-4.643-1.297-6.79,2.692-3.448,3.35,6.927,7.712,5.537,1.236-.394,4.059-1.133,3.327-3.136-.746-2.041-4.246-4.911-2.536-6.877,2.621-1.029,3.858,3.377,5.946,5.14ZM42.61,323.447l.636-45.673c-.781-2.36-.946-5.904-3.957-6.198-2.844-.278-4.807,3.33-5.045,6.152-1.317,15.638-.959,30.771-.531,46.429,3.156.252,6.29.952,8.897-.71ZM27.792,324.277l-2.033-38.947c-.14-2.68-.622-6.932-3.386-7.856-8.747-2.925-2.172,42.813-2.681,48.04,2.824.384,5.571.423,8.101-1.237ZM101.568,474.7c-12.367-6.848-24.88-11.105-39.562-11.136l9.855,47.909c.332,1.615-.354,3.256-.471,4.357-.074.701-2.174,1.486-3.209.73-8.663-37.35-20.283-86.153-21.073-123.946-.26-12.456,6.909-16.323,11.891-29.486,2.249-5.942,16.007-43.834,12.475-45.962-.652-.393-2.115-.414-3.123.438-11.511,9.731-7.262,17.8-21.369,27.621-12.796,8.909-6.341,19.16-11.071,19.081-3.742-.063-3.713-15.204,8.386-22.992,5.777-3.719,10.211-9.067,11.635-16.416,2.763-14.254,2.548-29.118,1.941-43.658-.078-1.877-1.95-3.568-3.075-3.767-5.411-.954-5.693,15.874-5.677,20.163.033,8.851-1.324,17.929-.567,26.42.066.741,2.884.936,3.34,1.479s.533,2.898-.741,2.944c-12.276.445-24.115.456-36.162,2.733-1.489.282-2.715-.387-3.131-1.183-.51-.975,1.042-2.029.957-2.882l-3.168-31.814c-.152-1.521-1.604-2.782-2.717-2.362-6.32,2.39,1.282,56.85,4.539,68.449l7.649,27.245c5.311,18.918,3.35,38.82,4.687,58.5l4.185,61.608c1.083,15.95,5.372,38.899,16.326,50.765,4.748,5.143,11.347,5.812,17.119,1.982,8.324-5.522,14.351-13.112,18.864-22.16,8.215-16.469,15.471-33.124,20.683-50.89,1.303-4.442.008-9.196.586-13.776ZM194.316,416.166c1.918-1.035,2.276-2.762,1.868-3.967-.49-1.445-1.993-1.899-3.785-1.641-2.506.36-3.784,2.375-2.936,4.291.661,1.492,2.755,2.45,4.853,1.317ZM156.988,441.503c.51-.649.78-1.768.226-2.586l-5.489-8.106c1.334-3.698,9.4-9.018,5.396-11.377-2.957-1.742-5.938,5.059-8.69,6.694-2.346-1.75-5.102-8.788-7.68-6.72-.787.631-1.375,1.779-.741,2.823l5.083,8.383-6.262,9.365c-.787,1.176-.407,2.458.57,3.023,3.101,1.792,5.609-5.914,8.914-7.608,2.176,1.122,6.566,8.79,8.672,6.109ZM226.488,435.738l-.087-14.095c-.01-1.602-1.361-2.691-2.522-2.51-3.141.49-2.147,18.328-1.608,21.437,3.547.414,17.882,2.289,15.673-2.452-1.45-3.113-9.57-.861-11.457-2.38ZM173.078,431.368l9.003-8.083c.94-.844,1.824-2.034.815-2.912-.666-.579-2.116-1.115-3.176-.324l-10.068,7.512c-.86-2.175-.467-4.117-1.028-6.141-.383-1.384-1.553-2.035-2.642-1.606-2.709,1.066-1.443,17.382-1.214,21.659.078,1.462,1.266,2.172,2.161,2.154.915-.019,1.634-.55,1.832-1.675l1.004-5.71,11.214,6.768c1.465.884,3.307.363,3.875-1.332.882-2.635-9.595-6.742-11.777-10.311ZM213.992,437.369l-7.603-.354-.371-15.241c-.034-1.381-2.157-1.681-2.827-1.05-2.076,1.96-2.256,16.652-1.554,20.41,3.077.821,16.294,2.159,15.211-2.049-.201-.783-1.067-1.633-2.856-1.716ZM194.76,424.203c-.146-1.853-5.987-9.316-4.214,15.367.143,1.994,6.222,10.142,4.214-15.367ZM324.308,801.588c4.058-1.21,4.734-1.712,9.155-5.134,2.292-1.997,3.3-3.039,4.117-4.644,10.274-20.177-6.278-47.153-5.285-69.279l3.994-88.954.189-42.021-.346-31.03-3.504-70.037c-12.041-.959-31.309-.166-41.618,4.857.243,8.095,1.214,15.934,2.453,24.231l8.578,57.414c3.189,21.345,4.472,41.942,5.065,63.564l.987,36.028-1.142,35.16c-.529,16.306-14.227,22.486-18.043,39.705,4.8-1.288,9.75-2.859,13.267.416,9.966,9.278,7.008,49.003,19.535,49.884.914.126,2.596-.16,2.596-.16ZM206.11,951.056l4.339,86.51,5.132,90.02c.87,15.267,2.185,29.567,1.562,44.683,25.263,4.993,44.045,4.201,67.86-1.956,3.715-.96,5.286-3.915,5.226-7.752l-.651-41.964-.825-37.094-.298-94.834c-.045-14.497-.021-27.66.589-42.102l2.837-67.138c-7.57,2.797-24.39,8.648-25.649-2.828l-4.417-40.265c-2.236-20.381-4.431-40.22-4.512-60.722-.019-4.724,2.152-7.979,5.897-10.213l18.755-11.188c4.177-11.712,9.056-22.583,16.992-32.161l.941-29.653c.35-11.046.774-21.511-.402-32.627-21.365,2.07-41.907,1.659-63.033,1.186l-35.38-.793-20.794.99c-.189,5.034,1.252,9.128-1.559,12.949-2.421-4.294-1.563-8.22-1.855-12.779-11.214-1.572-22.726-2.539-34.501-1.568l-34.533,2.845c-.002,5.514.474,9.951,1.272,14.633,6.583-3.988,12.929-7.347,17.931-13.053.805-.918,2.144-.932,2.785-.65,5.925,2.605-15.453,17.366-21.078,17.674.368,14.549-.924,28.731-1.852,43.434l-2.082,32.968-2.928,106.985-.773,116.497-.405,38.572-.253,98.918.731,48.86c23.409,6.176,46.603,4.776,69.376-3.004-.66-16.109-1.302-31.405-.775-47.484l3.034-92.441,7.913-143.786,5.732-85.164,3.863-69.821-9.426-2.884c-1.564-14.13-2.367-28.095-3.078-42.323-.054-1.089,1.135-2.31,1.764-1.865,3.78,2.672,4.411,33.899,4.977,40.717l22.481,4.08c-1.812,4.026-5.63,2.787-9.916,2.39l6.026,164.583,2.958,60.619ZM269.821,767.522c9.361-2.644,15.804-8.563,24.047-12.621,1.259-4.702-24.894,12.123-24.047,12.621ZM299.745,756.69c4.909-7.811-24.462,11.848-21.589,11.341,7.968-2.452,13.905-7.669,21.589-11.341ZM284.284,873.943l-4.945-49.437-6.341-52.656c-.144-1.197-2.206-1.099-2.535-.537-2.481,4.234,3.179,46.089,4.172,55.167l5.306,48.479c.194,1.777,1.682,2.176,2.935,1.782.601-.19,1.616-.721,1.408-2.797ZM273.917,877.303c.449.263,2.291.209,2.255-.767-.469-12.97-2.51-25.031-3.968-37.962-2.559-22.699-5.082-44.62-6.205-67.401-3.017.975-3.748,3.849-3.64,6.511,1.111,27.483,4.015,54.222,7.648,81.414.743,5.562.501,16.208,3.909,18.205ZM284.819,822.602l-3.563-35.165c.012.085-1.33-13.214-2.415-16.697-.391-1.256-2.917,2.12-2.818,3.033l10.7,99.383c.161,1.494,1.109,2.106,1.734,1.901.538-.176,2.126-.703,2.007-1.769l-5.645-50.685ZM153.498,1189.691c.229-5.06.186-8.053-.386-12.337-11.718,1.881-22.73,2.542-34.54,1.133-.255,3.935-.337,7.156-.021,10.739,11.755,1.737,23.004,1.694,34.948.466ZM269.939,1194.245c-.268-4.978.444-8.421-.981-12.13-11.753,1.888-22.295,1.708-33.49.556-.541,4.364-.129,8.148.68,12.35,11.319,1.181,22.378,1.219,33.791-.776ZM157.28,1219.415l-3.338-24.046c-12.69,1.632-24.119,1.165-35.978-.487-1.563,8.995-4.79,16.839-12.439,22.1,9.742,10.189,40.26,8.307,51.755,2.432ZM270.996,1200.23l-22.579,1.503c-4.332.288-8.119-1.306-12.591-.833l.456,24.645c12.173,6.042,26.459,6.037,37.833-.73l-3.119-24.585ZM78.516,1227.407c-1.363-1.877-4.414-2.343-6.142-1.715-1.302.473-3.618,1.712-3.356,3.956.469,4.008,3.644,7.85,6.921,10.096,2.185,1.498,5.054.579,6.324-.726,3.797-3.903-1.986-9.184-3.748-11.61ZM61.051,1233.973c-1.641-1.98-4.441-2.399-6.561-1.718-1.399.449-4.109,1.99-3.481,4.307.952,3.511,7.513,14.366,13.7,10.62,5.096-3.085-.891-9.869-3.658-13.209ZM42.334,1250.064c1.953,1.368,4.289.561,5.436-.558.698-.681,1.519-1.983,1.078-3.603-1.068-3.929-5.518-9.778-10.23-7.691-.991.439-2.758,1.39-2.584,3.149.34,3.447,3.169,6.51,6.3,8.703ZM244.871,1259.447c3.607,1.769,7.223.033,8.213-2.707,1.013-2.804.058-6.373-3.049-7.652-6.778-2.79-14.068-4.649-21.419-5.2-2.776-.208-4.974,2.19-5.784,3.763-4.874,9.464,10.504,6.14,22.038,11.796ZM17.614,1276.074c19.028,1.623,37.22.764,55.843-1.112l45.965-4.631c12.377-1.247,24.244-2.157,36.392-4.342,3.185-.573,6.451-2.382,7.502-5.437,1.409-4.095,1.238-8.17.199-12.419-8.181,2.835-15.748,3.709-23.998,4.717l-48.039,5.872-41.041,6.985c-8.396,1.429-35,2.74-44.01-.332.401,6.663,4.838,10.159,11.186,10.7ZM243.796,1269.794c.278-1.816-.89-4.99-3.511-6.047-6.402-2.582-29.966-8.974-28.077,2.195.384,2.27,2.464,4.166,5.34,4.246,13.465.375,24.686,9.828,26.248-.393ZM184.587,1332.596c7.286,3.17,15.346,2.114,22.828,2.172,16.806.131,31.95-6.497,43.465-18.741,10.148-10.79,18.545-22.821,26.597-35.328,3.116-4.84,4.226-10.664,2.165-15.686-11.972,13.445-17.825,28.121-32.14,40.645-17.283,15.121-44.542,18.945-66.492,14.341-.593,3.863-.764,10.709,3.577,12.597ZM233.686,1284.126c.079-2.57-1.614-5.076-4.667-6.054-6.182-1.981-26.134-7.884-26.719,2.001-.156,2.642,1.653,5.235,4.77,5.755,8.221,1.371,26.277,9.227,26.615-1.702Z"
            fill="#224eaf"
          />
          <path
            d="M290.817,680.671c1.519.123,2.404,1.271,2.973,1.102.634-.189,1.39,2.87.446,2.981-17.851,2.092-31.464-12.891-29.736-16.498,2.459-5.133,6.301,10.791,26.318,12.415Z"
            fill="#224eaf"
          />
          <path
            d="M111.322,831.632c.033,5.132,1.067,18.834-2.438,18.472-.659-.068-1.862-1.03-1.947-2.138-1.972-25.839,4.367-18.983,4.384-16.334Z"
            fill="#224eaf"
          />
          <path
            d="M118.183,704.694c.132,3.27.449,17.489-2.373,18.467-4.489,1.556-1.803-9.307-1.982-18.236-.027-1.368,1.057-2.422,2.061-2.48.852-.049,2.237.814,2.294,2.248Z"
            fill="#224eaf"
          />
          <path
            d="M113.322,800.557c.119,3.816,1.019,18.516-3.478,17.117-2.693-.838-1.18-10.78-1.082-16.994.025-1.575,1.082-2.774,2.152-2.862,1.36-.112,2.355,1.02,2.408,2.739Z"
            fill="#224eaf"
          />
          <path
            d="M114.838,753.248c-.172,1.296-1.373,2.195-2.096,2.4-4.287,1.22-1.46-13.599-1.132-18.993.085-1.403,1.429-2.221,2.167-2.103,3.842.612,1.6,14.63,1.062,18.695Z"
            fill="#224eaf"
          />
          <path
            d="M279.948,1024.446c4.321-.637,3.437,21.763.844,22.599-4.216,1.36-2.301-11.529-2.844-20.288-.077-1.236,1.239-2.199,2-2.311Z"
            fill="#224eaf"
          />
          <path
            d="M113.017,1047.307c-.056,1.249-1.498,2.186-2.391,2.258-.706.057-1.852-.779-1.879-2.083l-.307-14.821c-.027-1.325.766-2.043,1.354-2.236,4.491-1.471,3.381,13.359,3.223,16.882Z"
            fill="#224eaf"
          />
          <path
            d="M110.145,900.65c4.117-1.575,4.042,18.845.743,19.495-1.148.226-2.523-.995-2.501-2.602l.206-14.875c.015-1.082,1.028-1.817,1.551-2.017Z"
            fill="#224eaf"
          />
          <path
            d="M112.95,885.424c.01,1.416-1.293,2.257-2.06,2.272-3.533.068-2.366-8.53-3.567-16.091-.248-1.56.442-2.971,1.559-3.258,4.173-1.072,4.043,13.273,4.068,17.077Z"
            fill="#224eaf"
          />
          <path
            d="M282.18,1005.53c.006,1.594-1.173,2.652-2.29,2.661-3.521.029-1.876-9.327-2.963-17.433-.163-1.218,1.168-2.198,1.96-2.245,3.517-.208,3.277,12.89,3.292,17.017Z"
            fill="#224eaf"
          />
          <path
            d="M109.964,1061.509c4.016-1.03,3.73,19.476-.116,19.439-.875-.008-2.305-1.095-2.242-2.484l.674-14.858c.055-1.207,1.062-1.938,1.684-2.097Z"
            fill="#224eaf"
          />
          <path
            d="M281.966,913.239c-.005.124-5.672,12.367-4.178-13.365.067-1.146,1.431-1.898,2.087-1.853,3.387.235,2.25,11.128,2.091,15.218Z"
            fill="#224eaf"
          />
          <path
            d="M110.951,981.951c.022,1.557-1.311,2.518-2.063,2.493-3.831-.128-2.478-14.582-2.195-18.557.086-1.214,1.593-1.782,2.248-1.664.768.139,1.769,1.032,1.788,2.368l.222,15.36Z"
            fill="#224eaf"
          />
          <path
            d="M113.717,769.468c.347,3.043,1.405,15.673-1.944,15.982-1.3.12-2.651-1.181-2.629-2.881l.17-12.858c.016-1.183,1.125-1.973,1.692-2.232.969-.442,2.532.419,2.711,1.989Z"
            fill="#224eaf"
          />
          <path
            d="M111.605,1002.567c3.355,22.372-3.167,16.375-3.306,14.022l-.814-13.88c-.068-1.159,1.009-2.006,1.613-2.181.943-.274,2.282.54,2.507,2.039Z"
            fill="#224eaf"
          />
          <path
            d="M111.411,1097.724c.172,3.592,1.072,16.029-2.517,15.818-3.526-.207-2.165-17.466.11-18.046,1.142-.291,2.335.727,2.407,2.229Z"
            fill="#224eaf"
          />
          <path
            d="M278.895,1066.114c3.994-.584,3.848,17.759.977,18.582-1.061.304-2.527-.45-2.537-2.137l-.088-13.937c-.008-1.289.77-2.38,1.648-2.508Z"
            fill="#224eaf"
          />
          <path
            d="M111.426,1139.042c.184,1.813-.955,2.766-1.588,3.003-1.005.376-2.659-.233-2.873-1.804-.486-3.571-1.999-13.959.898-14.534.762-.151,2.267.553,2.41,1.965l1.154,11.37Z"
            fill="#224eaf"
          />
          <path
            d="M278.937,1133.873c3.908-.697,4.239,14.708,1.724,15.623-4.332,1.577-4.201-15.182-1.724-15.623Z"
            fill="#224eaf"
          />
          <path
            d="M277.895,1101.313c3.94-.968,5.91,17.504,1.01,16.676-.799-.135-1.712-1.108-1.773-2.431l-.559-11.978c-.064-1.369.722-2.119,1.322-2.267Z"
            fill="#224eaf"
          />
          <path
            d="M109.312,932.112c3.335-1.331,4.178,17.45-.376,17.499-2.906.031-1.642-12.535-1.315-15.72.1-.971,1.099-1.543,1.691-1.779Z"
            fill="#224eaf"
          />
          <path
            d="M277.945,928.897c4.513-1.212,3.571,14.823.939,15.794-4.227,1.559-3.181-15.191-.939-15.794Z"
            fill="#224eaf"
          />
          <path
            d="M277.859,961.094c3.784-.246,3.573,15.291,1.035,15.794-4.07.807-3.692-15.622-1.035-15.794Z"
            fill="#224eaf"
          />
          <path
            d="M108.658,1154.688c-2.804-1.471-3.001-5.772-.277-6.907,1.769-.738,2.902,1.409,2.989,2.36.134,1.477.462,3.846-2.712,4.547Z"
            fill="#224eaf"
          />
          <path
            d="M181.53,204.39c-7.462,1.878-7.193-5.603-16.573-1.352-2.449,1.11-4.978-1.165-7.173-1.889-3.391-1.118-6.056,4.129-9.569,2.017-.693-.417-1.14-1.529-.573-2.902.307-.742,2.07-.984,2.716-1.693,4.028-4.414,8.601-2.836,13.55-1.987,4.181.717,8.766-2.359,12.798,2.015,1.291,1.401,4.987,1.296,5.993,3.284.584,1.154-.394,2.312-1.169,2.507Z"
            fill="#224eaf"
          />
          <path
            d="M171.522,212.16c2.251,3.419-8.135,6.476-15.599,2.175-1.145-.66-1.195-1.738-1.698-2.13-.557-.434.482-3.161,1.247-2.763,11.085,5.764,14.172-.134,16.05,2.718Z"
            fill="#224eaf"
          />
          <path
            d="M207.43,135.235c2.941-1.192,5.438.768,6.05,2.879.691,2.385-.49,4.727-3.024,5.765-1.911.783-4.545-.07-5.47-2.296-.85-2.045-.394-5.198,2.443-6.348Z"
            fill="#224eaf"
          />
          <path
            d="M134.766,126.883c2.477-.667,4.746,1.007,5.318,2.716.901,2.693-.585,5.219-2.476,5.899-2.876,1.034-5.463-.153-6.172-2.652-.67-2.363.547-5.213,3.329-5.962Z"
            fill="#224eaf"
          />
        </svg>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .text-page {
    max-width: 720px;
    display: grid;
    gap: calc(var(--u) * 2);
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .about-grid {
    display: grid;
    gap: calc(var(--u) * 4);
    align-items: center;
    justify-items: center;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      'text'
      'figure';
    width: 100%;
    margin: 0;
  }

  .about-copy {
    margin: 0;
  }

  .about-content {
    display: grid;
    gap: calc(var(--u) * 3);
    justify-items: start;
    grid-area: text;
    width: 100%;
  }

  .about-links {
    display: grid;
    gap: calc(var(--u) * 2);
    justify-items: center;
    text-align: center;
    margin-top: calc(var(--u) * 4);
  }


  .about-figure {
    width: auto;
    grid-area: figure;
  }

  .about-figure svg {
    display: block;
    width: auto;
    height: 200px;
  }

  @media (max-width: 768px) {
    .about-content {
      justify-items: center;
    }

    .about-links {
      justify-items: center;
      text-align: center;
      width: 100%;
    }

    .about-cv {
      justify-self: center;
      text-align: center;
    }
  }

  @media (min-width: 769px) and (max-width: 1023px) {
    .text-page {
      max-width: 980px;
      text-align: left;
    }

    .about-grid {
      grid-template-columns: auto auto;
      grid-template-areas: 'text figure';
      align-items: end;
      justify-content: center;
      column-gap: calc(var(--u) * 6);
      row-gap: calc(var(--u) * 3);
      justify-items: start;
      width: auto;
      margin: 0 auto;
    }

    .about-content {
      width: auto;
      max-width: 465px;
      justify-items: start;
    }

    .about-copy {
      text-align: left;
    }

    .about-links {
      justify-items: start;
      text-align: left;
      margin-top: calc(var(--u) * 3);
      width: auto;
    }

    .about-cv {
      justify-self: start;
      text-align: left;
    }

    .about-figure {
      width: auto;
      flex: 0 0 auto;
    }

    .about-figure svg {
      height: 450px;
    }
  }

  @media (min-width: 1024px) {
    .text-page {
      max-width: 980px;
      text-align: left;
    }

    .about-grid {
      grid-template-columns: auto auto;
      grid-template-areas: 'text figure';
      align-items: end;
      justify-content: center;
      column-gap: calc(var(--u) * 6);
      row-gap: calc(var(--u) * 3);
      justify-items: start;
      width: auto;
      margin: 0 auto;
    }

    .about-content {
      width: auto;
      max-width: 465px;
      justify-items: start;
    }

    .about-copy {
      text-align: left;
    }

    .about-links {
      justify-items: start;
      text-align: left;
      margin-top: calc(var(--u) * 3);
      width: auto;
    }

    .about-cv {
      justify-self: start;
      text-align: left;
    }

    .about-figure {
      width: auto;
      flex: 0 0 auto;
    }

    .about-figure svg {
      height: 450px;
    }
  }

  .about-cv {
    color: #f45b69;
    font-weight: 700;
    text-transform: lowercase;
  }

  .about-cv:hover {
    text-decoration-line: underline;
    text-decoration-color: currentColor;
    text-decoration: underline;
    text-decoration-thickness: 0.12em;
    text-underline-offset: 0.18em;
  }

  .about-cv:focus-visible {
    text-decoration-line: underline;
    text-decoration-color: currentColor;
    text-decoration-thickness: 0.12em;
    text-underline-offset: 0.18em;
  }

  .about-contact {
    margin: 0;
    color: #f45b69;
    font-weight: 700;
  }

  .about-email {
    color: #f45b69;
    text-decoration: underline;
    text-decoration-thickness: 0.12em;
    text-underline-offset: 0.18em;
  }

  .about-cv:visited {
    color: #f45b69;
  }
</style>
