---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About me">
  <section class="text-page">
    <div class="about-grid">
      <div class="about-content">
        <p>
        Hi, I’m Ewa. </br>
        A creative and tech-savvy person.
        </p>
        <p>
          I used to dream of living in a secluded forest and writing books. That dream led me to
          study comparative literature and learn a few human languages.
        </p>
        <p>
          As life unfolded, I stumbled into tech. Instead of retreating to a wooden shed with my
          typewriter (yes, I do own one), I found myself arguing with an interpreter in a busy city
          office. That’s how I became a frontend developer.
        </p>
        <p>
          My engineering colleagues like to remind me that it’s “not a real job”,
          but I genuinely enjoy shaping interfaces, exploring UI, creating illustrations and artwork,
          and reflecting on the process through writing.
        </p>
        <p>
          Lately, I’ve also started experimenting with training AI models. It's a fascinating medium
          for discovering new ways of creating.
        </p>
        <p>
          If you’re interested in working together or just chatting about poetry, black metal, or the
          physics of V60 coffee, send me a message :)
        </p>
        <div class="about-links">
          <a class="about-cv" href="/cv1.pdf" target="_blank" rel="noreferrer">cv<small>(pdf)</small></a>
          <p class="about-contact">
            message me at
            <a class="about-email" href="mailto:ewa.lazar@proton.me">ewa.lazar@proton.me</a>
          </p>
        </div>
      </div>
      <div class="about-figure" aria-hidden="true">
       <svg id="Layer_1" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 373.453 1326.015">
    <g>
      <path d="M167.462,1220.189c.463,6.996.995,13.167,1.761,19.621,1.075,9.054-4.406,16.595-13.847,17.579l-64.234,6.692c-17.591,1.833-34.319,3.602-51.964,4.27-8.983.34-17.485-.561-26.237-2.289-9.945-1.963-12.934-16.124-10.983-23.678,7.284-9.166,17.648-15.244,28.596-19.136l42.096-14.964c8.713-3.097,16.784-7.66,25.702-10.175,4.173-1.177,7.441-1.79,9.779-6.432,4.113-8.164,4.751-18.057,3.974-27.46-5.653-1.417-10.97-2.277-15.929-4.589-3.395-1.583-2.095-7.637-2.11-10.723l-.324-66.027.339-110.891.996-132.882,3.105-104.931c.765-25.864,5.435-60.44,1.877-84.931-2.376-1.182-5.087-3.216-4.958-6.028l3.258-70.978,2.537-79.029c-8.637,18.162-22.477,64.68-48.142,62.224-15.219-1.456-22.594-22.146-25.425-35.463-5.314-24.997-6.593-49.887-8.058-75.584l-3.713-65.119C5.329,351.15.048,322.357,0,292.491c-.007-4.676,1.124-15.789,6.179-16.828,1.32-.271,4.213.52,5.374,1.087l.964.857,2.119-11.679c.569-3.137,3.944-5.862,6.999-5.912,2.992-.05,5.421,2.331,7.338,5.301l2.733-6.462c1.731-4.092,6.954-6.808,11.13-3.805,2.376,1.71,3.714,5.923,4.655,9.243,1.4-1.913,3.829-4.051,6.177-4.183,9.213-.519,8.794,15.803,8.712,22.326l-.264,20.999c3.695-4.548,10.404-5.74,13.121-2.766.95,1.04,2.046,4.014,1.712,5.508-3.972,17.78-13.43,51.227-24.625,65.678-.847,19.45,1.121,38.53,5.989,57.565,4.359-11.099,7.437-21.143,11.049-31.928,7.36-21.975,15.307-43.17,26.019-63.681,5.275-10.1,12.617-17.892,22.439-23.904-7.776-36.567-13.081-72.918-13.021-110.334l.072-45.129c.033-20.256,1.082-39.781,3.942-59.801,1.8-12.605,5.459-23.979,8.787-36.057C128.95,17.383,182.247-4.091,200.542,1.982c28.644-7.94,57.726,8.718,77.208,36.671,15.754,22.604,21.607,89.42,21.607,89.42,1.899,19.255,2.045,37.949,1.499,57.457l-2.515,89.884,1.426,37.203c4.805,2.556,8.64,5.958,11.365,10.781,24.379,43.13,37.125,98.819,44.109,147.819.173,1.213-1.531,4.747-2.699,4.938l-13.872,2.266,2.268,38.86,1.046,34.984.077,41.051c.06,32.226-1.115,63.681-4.034,95.75-.705,7.742-1.174,14.364-1.501,22.81l14.451-6.491c1.004-.451,3.795.147,5.074.703l7.429,38.628,9.816,54.315c.818,4.524-1.701,8.172-4.874,10.702l-32.205,25.676-17.71,13.27c-6.043,4.528-12.289,8.47-18.883,12.469l-3.905,94.777c-.373,9.05.873,17.399.876,26.371l.034,93.534.733,26.086.571,47.009c.05,4.106-1.161,10.88-4.892,12.647-5.601,2.652-10.639,3.656-17.038,5.51-.095,9.41.611,18.581,1.491,28.007.683,7.317,2.422,13.829,3.999,21.011,2.324,10.584,1.584,21.563,3.1,32.318,1.154,8.19.386,16.482-4.651,23.365l-18.19,24.853c-7.58,10.356-17.719,19.077-29.74,24.078-14.813,6.163-30.969,6.235-46.549,3.823-10.882-1.685-10.846-19.138-9.139-23.319,7.646-18.726,17.84-35.286,29.177-51.754,4.61-6.697,8.879-13.011,13.778-19.401,3.728-4.864,7.82-9.799,11.21-14.89l-1.751-46.684-15.33-2.756c-1.234-.222-3.517-2.705-3.482-3.905.409-14.003-.322-27.8-1.07-42l-5.955-112.933-10.062-194.911-2.924,28.052-2.467,33.107-6.674,125.432-3.246,108.874c-.462,15.479.021,29.926.5,45.544.051,1.668-1.511,4.358-2.956,4.79l-15.806,4.729c.503,13.292.606,26.843,3.358,40.071,1.203,5.782,4.402,10.996,4.839,17.603ZM260.644,111.853c2.774,1.278,7.97,3.235,8.669,6.536,1.181,5.583.149,10.76-.552,16.132l8.879-.058c-1.129-14.392-3.075-14.848-14.699-23.069-11.877-8.4-40.818-.732-67.643-51.985-11.976,9.021-22.374,14.162-26.592,28.439l-4.706,15.928c9.525.253,27.362,1.53,27.97,13.854l.548,11.093,17.814.118c2.329-14.388,13.64-22.21,27.682-21.575,8.05.364,15.264,1.192,22.631,4.588ZM167.828,154.469c13.672-7.384,21.44-22.22,18.091-37.355-1.442-6.515-16.716-7.995-22.333-7.262-3.553,10.022-6.921,20.761-17.365,25.083,1.334,8.064,10.325,25.629,21.607,19.535ZM252.395,155.563c5.356-8.701,13.543-25.711,11.756-35.187-10.644-7.915-32.59-11.109-42.398-1.912-11.752,11.021-4.522,32.187,7.364,41.701,7.558,6.05,18.139,3.746,23.278-4.603ZM230.769,236.697c12.044-8.239,21.87-16.718,29.279-29.047,4.336-7.215,7.287-14.22,7.645-23.234,1.155-29.073,13.085-26.094,11.732-44.648l-13.184.442c-3.273,7.619-6.236,13.585-10.478,20.137-6.226,9.616-19.368,12.214-28.959,5.314-10.169-7.316-15.414-19.238-17.269-31.035l-19.384.078c-1.992,13.442-21.023,33.408-34.646,24.471-7.69-5.044-11.677-12.824-14.65-21.551-1.851.295-6.201,2.829-6.271,4.874-.394,11.444-.64,21.818-.008,33.044.602,10.712,5.094,20.277,10.007,29.628,7.852,14.945,17.551,28.357,30.937,38.619,6.646,5.095,14.995,4.815,22.742,4.864,12.547.08,22.254-4.942,32.508-11.956ZM208.038,304.853c3.687,4.498,1.697,6.972,5.229,6.756,7.959-.487-2.038-7.518,3.015-10.27l5.084,7.161c1.223-.207,4.501-1.702,5.172-2.385l-3.413-7.629c4.178-2.554,4.73,6.085,8.909,4.887,1.014-.291,2.82-2.267,2.297-3.191-11.48-17.501-12.988-13.395-13.647-37.714l-.344-12.698c-7.124,3.222-12.351,7.456-19.369,8.911-9.893,2.051-23.2-5.987-30.622-10.611.519,11.245,1.084,22.084.641,32.67-.294,7.011-4.743,11.396-8.854,15.592-1.323,1.35-3.303,4.801-4.573,6.318-.598.715,1.205,3.979,1.892,3.322l2.616-2.506,2.408-2.306c.532-.51,2.657,1.124,2.353,1.789l-1.349,2.95c-.589,1.288-2.238,2.852-1.685,3.72.565.886,2.875,2.206,3.874,1.967,2.494-.596,1.989-7.155,5.862-6.691-.05,2.196-.282,5.374-.485,7.523-.104,1.106,3.587,2.439,4.177,1.476s1.313-2.829,1.972-4.43l1.122-2.726c.183-.445,1.985.288,2.002.768l.085,2.377c.054,1.508.202,3.37.398,4.395s4.165.705,4.325-.329l.576-3.717c.115-.745.82-2.466,1.221-3.078.301-.459,1.68-.183,1.801.366l.626,2.845c.364,1.653.237,3.87,1.299,4.102,1.26.275,4.228.34,4.335-.75l.434-4.393c.056-.57.396-1.971.551-2.476s1.538.14,1.698.645l.599,1.895c.444,1.407,1.039,3.474,1.813,4.202s3.407-.064,4.232-.732c.585-.473-.479-10.69,1.722-8.005ZM42.66,310.972c.594-16.02.835-30.602.489-46.503-.055-2.526-2.163-6.432-4.841-6.024-2.369.36-4.62,4.247-4.634,6.703l-.267,46.243,9.254-.419ZM27.704,311.764l-1.1-26.344c-.084-2.008.091-24.24-5.571-21.517-3.762,1.81-3.755,11.079-3.51,15.471l1.878,33.646,8.302-1.256ZM61.721,450.57l9.092,42.982c.761,3.596,2.426,8.433-2.266,10.493-7.536-30.304-13.491-59.518-18.345-89.621-2.036-12.63-2.996-24.403-3.027-37.106-.023-9.288,7.823-17.093,11.124-25.634,2.276-5.89,16.621-45.603,13.202-47.802-.667-.429-2.872-.042-3.56.541-11.799,10.012-6.67,17.763-22.425,28.461-10.591,7.191-6.073,20.544-9.843,18.274-4.156-2.503-1.615-16.986,8.497-22.938,6.019-3.543,10.587-9.627,11.886-16.947,2.529-14.241,2.503-28.658,1.806-43.246-.06-1.263-2.208-3.808-3.368-4.138-5.86-1.669-5.507,21.142-5.663,25.594l-.745,21.355,3.714,1.703c.502.23-.02,1.951-.292,2.687-12.588.067-25.836.915-38.823,2.744l-.101-4.726-2.763-31.097c-.08-.897-2.504-3.271-3.105-2.628-4.532,4.848-1.231,36.463-.181,44.595,2.29,17.73,8.272,33.292,12.043,50.436,4.394,19.977,3.922,40.306,5.282,60.727l3.939,59.159c.897,13.479,3.573,26.186,8.538,38.748,3.372,8.531,12.549,22.877,23.828,15.962,9.18-5.628,15.739-13.828,20.492-23.487,7.95-16.155,14.87-32.143,20.123-49.562,1.369-4.539.903-10.467.674-15.033-13.899-6.772-23.894-11.217-39.733-10.494ZM194.323,404.925c.727-.564.981-3.914.166-4.351s-2.277-.622-3.777-.481c-.934.088-2.733,1.949-2.57,2.884.173.993.923,2.572,1.695,3.111s3.332-.269,4.486-1.164ZM234.925,425.966l-9.116-.597-.296-14.743c-.017-.862-1.341-2.367-2.055-2.575s-2.504,1.733-2.498,2.517l.139,19.338,14.159.391c.726.02,2.473-1.936,2.177-2.479s-1.706-1.799-2.51-1.852ZM156.272,428.579l-5.559-8.185,5.713-7.641c.572-.765.853-3.15.015-3.361-.627-.158-2.667-.014-3.132.441l-5.989,5.862-5.254-6.216c-.451-.534-3.407-.069-3.346.65l.179,2.116,4.937,8.176-6.531,9.736c-.449.669.63,3.189,1.316,2.991.677-.196,2.203-.96,2.743-1.581l5.526-6.353,5.996,5.956c.477.474,2.372.664,3.028.624.66-.04.795-2.572.358-3.215ZM171.663,421.468l10.333-9.842c.456-.434-.838-2.822-1.428-2.619s-2.496.731-3.028,1.147l-8.714,6.808-1.254-5.521c-.186-.817-1.332-2.01-2.007-2.302-.671-.291-2.372,1.609-2.368,2.415l.098,19.612c.004.8,1.564,2.8,2.233,2.477.499-.242,1.779-1.178,1.901-1.702l1.397-5.996,11.304,6.972c.934.576,3.62-.306,3.812-1.227s-.988-2.727-1.813-3.274l-10.464-6.948ZM213.597,426.79l-8.135-.487-.288-14.017c-.02-.948-1.383-2.847-2.168-2.521-.626.26-2.06,1.946-2.08,2.666l-.512,18.403,13.973.214c.821.013,2.119-2.648,1.535-3.081-.432-.319-1.759-1.143-2.324-1.177ZM194.162,428.864l-.273-15.337c-.013-.732-1.661-2.548-2.37-2.423s-2.103,1.635-2.107,2.472l-.08,15.237c-.005.89,1.497,2.456,2.121,2.902s2.724-2.018,2.709-2.851ZM321.105,788.961c2.088-5.294,1.569-10.456,2.439-15.913l.365,15.02c2.631,1.477,7.118-1.249,7.366-4.363l1.095-13.731,1.258,13.552c1.836-1.482,3.762-3.854,4.324-6.114,5.782-23.285-6.813-45.546-5.92-69.264l4.251-112.915c1.49-39.576-.869-77.889-4.087-117.323-11.408-.216-32.324-.443-41.907,5.266.498,6.136.895,11.233,1.781,17.148l9.241,61.644c3.3,22.013,5.165,42.922,5.574,65.261.446,24.348,1.142,47.807-.46,72.008-1.052,15.884-13.795,21.51-17.739,38.423,4.127-.324,9.13-1.926,12.175.442,11.44,8.898,6.812,49.735,20.244,50.859ZM201.357,821.562l4.487,91.571,6.136,124.726,3.75,71.611c.879,16.778,1.624,32.3,1.426,49.381,21.874,4.436,52.039,4.926,72.381-4.49.907-8.693.223-16.772.098-25.494l-.73-51.015-.559-101.746c-.093-16.85.434-32.319,1.048-49.135l2.232-61.124c-6.242,1.962-11.309,3.677-16.401,3.993-6.181.383-8.674-3.698-9.258-8.805l-6.746-58.98c-1.611-14.082-2.041-27.471-2.009-41.593.006-2.835,2.358-6.109,4.596-7.447l19.919-11.912c3.637-9.941,7.62-19.041,13.137-27.87,2.503-4.41,4.042-5.925,4.16-10.111.532-18.952,1.236-37.519.504-56.494-19.951,1.456-38.788,1.417-58.589,1.067l-25.003-.441c-12.206-.216-24.153-.291-35.968.517.109,4.963.328,8.079-1.426,12.79-1.529-4.379-1.716-8.073-1.963-12.913-12.363-1.146-24.916-2.282-37.274-1.172l-31.881,2.866,1.61,14.523c6.798-3.582,13.387-8.189,18.304-12.907.607-.582,3.111-.688,3.162-.02.435,5.656-16.662,15.735-21.88,17.138l-2.104,47.04-1.755,27.028-2.699,113.905-.389,107.88-.581,19.168-.112,130.687.521,39.933c23.206,7.083,46.305,4.252,69.508-2.892-1.352-20.433-.968-39.601-.4-59.863l1.677-59.8,3.475-77.181,8.858-142.783,3.352-59.06,2.224-40.22c-4.082-.686-7.109-1.437-9.572-3.178l-2.473-43.997c4.88,5.432,4.275,12.188,4.703,18.386l1.609,23.304,22.354,3.558c-2.454,4.675-5.381,2.5-9.859,2.688l4.396,108.88ZM354.551,710.879c-1.497-1.33-2.482-1.383-3.655-1.047l-12.596,7.801c-.459.284-1.633,1.582-1.358,1.991.182.271.532.646,1.164,1.37l16.444-10.116ZM270.327,753.57c9.576-2.843,15.591-7.643,23.136-12.497-.626-3.354-25.393,12.866-23.136,12.497ZM299.923,742.877c2.573-6.116-24.809,12.164-22.376,12.152,8.208-3.641,14.694-7.454,22.376-12.152ZM284.17,859.517l-6.747-65.52-4.624-35.654c-.109-.837-2.428-1.294-2.772-.712-.254.429-1.254,2.167-1.144,3.259l5.434,53.845,5.245,47.386c.146,1.322,2.976,2.037,3.412,1.393s1.331-2.683,1.195-3.997ZM275.621,863.691c.536-7.666-.252-13.512-1.193-20.282-3.959-28.501-6.896-56.374-8.605-85.505-2.532.553-4.155,3.554-4.008,6.352,1.712,32.769,5.324,64.551,9.643,96.995.206,1.546,4.058,3.952,4.163,2.439ZM290.517,859.943l-11.289-93.728c-.33-2.737-.219-4.864-.355-8.391l-2.763.816c-.429.127-.516,2.053-.459,2.584l4.969,46.257c2.426,1.74,3.185,67.832,9.896,52.462ZM153.707,1176.434l-.332-12.862c-12.364,1.65-22.176,2.296-35.061,1.046l-.185,11.103c12.434,1.429,23.153,1.468,35.578.713ZM269.808,1180.904l-.514-12.454c-12.368,1.413-22.275,1.649-34.467.622l.924,12.632c12.195.685,22.233.463,34.057-.8ZM157.295,1205.745l-3.377-24.072c-13.299,1.503-24.222,1.094-36.228-.555-1.561,8.997-4.826,16.933-12.203,22.215,10.418,10.536,40.662,8.199,51.808,2.412ZM274.026,1211.336l-3.245-25.141c-12.691,1.181-23.088,2.078-35.097.706l.189,24.914c12.136,5.825,25.78,6.458,38.153-.479ZM97.636,1216.299c1.706-5.384-2.252-9.393-6.601-10.491-1.878-.474-5.492,1.096-5.948,2.663-1.281,4.402,4.038,8.192,6.951,10.03,1.256.792,5.145-.774,5.597-2.201ZM77.912,1212.983c-.919-1.136-4.472-1.636-5.842-1.257s-3.539,2.848-3.281,4.319c.715,4.077,3.801,8.417,7.663,10.345,1.532.765,4.79-.013,5.828-1.073,3.849-3.932-2.029-9.443-4.368-12.334ZM60.974,1219.762c-1.005-1.162-4.474-1.847-5.973-1.729s-4.504,2.429-4.256,3.956c.918,5.636,8.33,15.382,14.429,11.288,4.51-3.028-1.463-10.351-4.2-13.515ZM47.712,1235.979c3.474-3.716-2.107-11.379-6.45-11.859-1.813-.201-4.212.603-4.88,1.663-.557.883-.407,3.875.2,4.736,2.502,3.552,7.819,9.002,11.13,5.46ZM246.871,1246.259c2.847.925,6.102-2.094,6.522-4.373.369-2-1.184-6.098-3.538-6.96-7.25-2.653-14.004-4.212-21.927-5.012-1.996-.202-4.805,2.468-5.623,4.003-.85,1.596-.245,6.239,1.639,6.617,8.209,1.648,14.722,3.059,22.927,5.725ZM17.183,1262.404c16.26,1.125,31.847,1.34,47.726-.23l55.194-5.458c12.518-1.238,24.077-2.524,36.482-4.443,8.141-1.26,8.782-12.055,6.568-17.846-24.526,6.494-46.571,6.123-72.073,10.497-27.854,4.778-56.417,11.377-84.845,6.847.765,5.545,4.588,10.194,10.949,10.634ZM243.427,1256.98c3.194-9.759-20.098-11.469-26.998-10.886-2.741.231-5.175,3.972-4.744,6.086.454,2.227,2.711,3.974,5.254,4.274,16.042,1.896,23.847,8.596,26.488.526ZM184.896,1319.197c5.887,2.668,12.904,1.706,19.098,1.988,17.69.804,33.81-5.405,46.21-18.375,10.261-10.733,18.882-22.985,26.958-35.534,3.307-5.139,4.489-10.986,2.008-16.821l-13.616,19.031-9.29,12.657c-16.781,22.862-48.193,29.041-75.502,24.006-.664,3.778-.704,10.856,4.134,13.049ZM233.681,1271.017c.306-2.316-1.55-5.8-4.303-6.657-6.021-1.874-27.349-8.136-27.546,1.909-.047,2.411,1.935,5.259,4.628,5.884,9.156,2.126,25.971,8.324,27.222-1.135Z" fill="#224eaf"/>
      <path d="M201.357,821.562l-4.396-108.88c4.478-.188,7.406,1.987,9.859-2.688l-22.354-3.558-1.609-23.304c-.428-6.198.177-12.953-4.703-18.386l2.473,43.997c2.463,1.741,5.489,2.492,9.572,3.178l-2.224,40.22-3.352,59.06-8.858,142.783-3.475,77.181-1.677,59.8c-.568,20.262-.952,39.43.4,59.863-23.203,7.144-46.302,9.975-69.508,2.892l-.521-39.933.112-130.687.581-19.168.389-107.88,2.699-113.905,1.755-27.028,2.104-47.04c5.218-1.403,22.315-11.482,21.88-17.138-.051-.668-2.556-.563-3.162.02-4.917,4.718-11.505,9.325-18.304,12.907l-1.61-14.523,31.881-2.866c12.358-1.111,24.911.026,37.274,1.172.247,4.84.434,8.534,1.963,12.913,1.754-4.711,1.535-7.827,1.426-12.79,11.815-.808,23.762-.733,35.968-.517l25.003.441c19.8.35,38.638.389,58.589-1.067.732,18.975,2.354,37.751-.504,56.494-.708,4.646-1.163,6.161-4.16,10.111-5.518,8.828-9.5,17.929-13.137,27.87l-19.919,11.912c-2.238,1.338-4.59,4.612-4.596,7.447-.031,14.122.399,27.511,2.009,41.593l6.746,58.98c.584,5.107,3.077,9.188,9.258,8.805,5.092-.316,10.159-2.031,16.401-3.993l-2.232,61.124c-.614,16.815-1.141,32.285-1.048,49.135l.559,101.746.73,51.015c.125,8.722.809,16.801-.098,25.494-20.342,9.416-50.507,8.925-72.381,4.49.198-17.081-.548-32.603-1.426-49.381l-3.75-71.611-6.136-124.726-4.487-91.571ZM294.005,671.194c-.368-2.654-1.688-3.021-3.682-3.757-9.199-.047-17.647-5.409-23.016-12.35-.479-.619-3.059-.933-3.096-.163-.378,8.012,19.755,19.438,29.794,16.269ZM117.617,706.808l.53-15.22c.029-.84-2.278-3.094-2.755-2.497-.472.59-1.371,2.226-1.414,3.189l-.669,14.852c-.039.867,1.44,2.826,2.152,2.4.534-.319,2.134-2.082,2.156-2.723ZM114.747,739.653l1.069-15.872c.051-.763-1.787-3.035-2.289-2.562-.377.355-1.58,1.729-1.638,2.358l-1.486,15.954c-.067.721,1.553,3.236,2.118,2.815s2.173-1.906,2.226-2.691ZM113.896,769.451l-.087-12.81c-.006-.838-1.489-2.886-2.145-2.579s-2.34,1.847-2.335,2.564l.096,13.061c.005.627,1.572,1.981,2.188,2.21.612.227,2.288-1.678,2.282-2.445ZM113.188,801.572l.494-14.391c.038-1.1-2.166-3.304-2.902-2.779-.594.424-1.694,1.964-1.72,2.836l-.423,14.386c-.024.832,1.274,2.272,1.868,2.656.589.381,2.654-1.873,2.682-2.708ZM111.507,833.569l-.02-15.14c-.001-.895-1.259-2.502-1.773-2.911s-2.276,1.48-2.278,2.244l-.043,16.449c-.002.636,1.776,2.549,2.281,2.178.509-.373,1.835-1.955,1.834-2.822ZM113.657,871.406l-1.348-14.053c-.094-.984-2.169-2.968-2.837-2.491s-1.519,2.317-1.434,3.229l1.287,13.81c.073.779,1.473,2.246,2.199,2.289.545.032,2.196-2.134,2.134-2.784ZM281.775,899.532l.02-12.254c.001-.85-1.611-2.99-2.348-2.722-.741.269-2.038,1.902-2.04,2.754l-.027,12.191c-.002.85,1.372,2.467,2.02,2.879s2.373-1.865,2.374-2.846ZM110.504,887.476c-.411.499-1.33,2.019-1.335,2.659l-.112,13.72c-.008.968,1.893,3.11,2.507,2.565,3.904-3.468,1.913-22.558-1.06-18.945ZM280.515,928.706l-.182-11.597c-.011-.685-2.405-2.261-2.835-1.724-.323.403-1.311,1.603-1.311,2.116l-.002,11.336c0,.797,1.375,2.016,1.985,2.432.456.311,2.353-2.02,2.344-2.562ZM110.583,918.523c-.434-.443-2.283,1.381-2.299,2.002l-.337,13.175c-.014.554,1.233,1.99,1.533,2.447,2.022,3.081,5.195-13.447,1.103-17.623ZM280.148,960.761l-.351-11.299c-.019-.61-1.811-1.645-2.415-1.75s-1.486,1.753-1.466,2.39l.346,11.06c.018.59,1.551,2.373,2.043,2.046s1.86-1.883,1.843-2.447ZM111.4,967.671l-.18-14.418c-.011-.917-1.726-2.923-2.354-2.458-.469.347-1.569,1.762-1.566,2.474l.058,15.125c.003.734,1.791,2.574,2.345,2.2.549-.372,1.707-2.115,1.697-2.923ZM281.948,990.653l-1.118-13.351c-.075-.894-1.512-2.169-2.169-2.504-.492-.25-1.694,1.907-1.676,2.533l.411,14.564c.031,1.093,2.132,2.888,2.983,2.379.681-.407,1.657-2.575,1.57-3.621ZM113.034,1002.526l-.85-13.29c-.052-.811-2.045-2.721-2.506-2.194-.35.399-1.467,1.808-1.433,2.345l.887,14.001c.044.698,1.627,2.531,2.152,2.126s1.795-2.279,1.75-2.987ZM282.25,1030.698l-.078-17.456c-.004-.853-1.905-2.839-2.611-2.47-.533.279-1.593,1.748-1.592,2.526l.019,17.535c.001.924,1.538,2.718,2.319,2.505.59-.161,1.946-1.836,1.943-2.639ZM113.587,1033.314l-.264-13.988c-.017-.876-1.94-3.028-2.583-2.537-.483.368-1.63,1.889-1.614,2.58l.315,14.265c.017.779,1.661,2.821,2.08,2.303.315-.389,2.076-2.119,2.066-2.622ZM110.579,1047.74c-.392.384-1.739,1.893-1.759,2.486l-.495,14.497c-.025.737,1.286,2.298,1.98,2.311,4.233.077,3.42-22.378.274-19.294ZM281.414,1068.47l-.114-13.222c-.01-1.115-2.215-3.256-2.86-2.679-.484.432-1.436,1.871-1.426,2.622l.193,13.639c.011.758,1.361,2.028,2.033,2.35.504.241,2.178-2.122,2.173-2.71ZM111.919,1097.228l.142-13.025c.009-.786-1.947-2.743-2.391-2.216-.33.392-1.37,1.693-1.394,2.208l-.566,12.559c-.031.696,1.281,2.38,1.784,2.848s2.417-1.675,2.425-2.374ZM277.149,1086.985c-1.024,3.942-1.405,14.747,1.289,17.17,3.88,3.49,3.739-17.228-1.289-17.17ZM112.256,1125.476l-1.237-11.415c-.078-.719-1.918-2.321-2.427-1.874-.514.45-1.428,2.005-1.383,2.733l.69,11.126c.054.871,1.998,2.72,2.714,2.274.537-.334,1.717-2.162,1.644-2.845ZM281.755,1133.644l-.587-11.393c-.035-.678-2.279-2.554-2.74-2.057s-1.32,1.951-1.291,2.653l.453,10.832c.034.82,2.197,2.873,2.69,2.312.367-.417,1.503-1.788,1.474-2.346ZM169.014,1142.371c-.568-.025-2.1-.098-2.673.042l-25.756,6.318c2.167,3.937,39.11-5.886,28.429-6.361ZM283.223,1148.045c-12.68,2.069-23.917,4.113-36.258,3.754-4.987-.145-9.663-.104-14.283.596,8.687,4.128,44.303,3.099,50.542-4.35Z" fill="#fff"/>
      <path d="M61.721,450.57c15.84-.723,25.834,3.723,39.733,10.494.229,4.566.694,10.494-.674,15.033-5.253,17.42-12.173,33.407-20.123,49.562-4.753,9.659-11.312,17.859-20.492,23.487-11.279,6.914-20.456-7.432-23.828-15.962-4.965-12.562-7.641-25.269-8.538-38.748l-3.939-59.159c-1.36-20.421-.887-40.75-5.282-60.727-3.771-17.144-9.753-32.706-12.043-50.436-1.05-8.132-4.351-39.747.181-44.595.601-.642,3.025,1.731,3.105,2.628l2.763,31.097.101,4.726c12.987-1.829,26.236-2.677,38.823-2.744.273-.736.794-2.457.292-2.687l-3.714-1.703.745-21.355c.155-4.452-.198-27.263,5.663-25.594,1.161.331,3.308,2.875,3.368,4.138.697,14.589.722,29.006-1.806,43.246-1.3,7.32-5.868,13.404-11.886,16.947-10.111,5.952-12.653,20.435-8.497,22.938,3.77,2.27-.748-11.082,9.843-18.274,15.755-10.698,10.627-18.448,22.425-28.461.688-.584,2.893-.97,3.56-.541,3.419,2.199-10.926,41.911-13.202,47.802-3.301,8.541-11.146,16.346-11.124,25.634.031,12.703.991,24.476,3.027,37.106,4.854,30.103,10.809,59.317,18.345,89.621,4.692-2.059,3.026-6.897,2.266-10.493l-9.092-42.982Z" fill="#fff"/>
      <path d="M321.105,788.961c-13.432-1.124-8.804-41.961-20.244-50.859-3.045-2.368-8.048-.765-12.175-.442,3.944-16.913,16.687-22.54,17.739-38.423,1.602-24.201.906-47.66.46-72.008-.409-22.339-2.274-43.247-5.574-65.261l-9.241-61.644c-.887-5.915-1.283-11.012-1.781-17.148,9.582-5.709,30.499-5.482,41.907-5.266,3.218,39.433,5.577,77.747,4.087,117.323l-4.251,112.915c-.893,23.718,11.701,45.98,5.92,69.264-.561,2.26-2.488,4.633-4.324,6.114,0,0-6.482,7.184-12.523,5.434Z" fill="#fff"/>
      <path d="M230.769,236.697c-10.254,7.015-19.961,12.036-32.508,11.956-7.746-.049-16.096.231-22.742-4.864-13.386-10.262-23.085-23.674-30.937-38.619-4.913-9.351-9.404-18.915-10.007-29.628-.631-11.226-.385-21.601.008-33.044.07-2.044,4.42-4.578,6.271-4.874,2.973,8.727,6.96,16.506,14.65,21.551,13.623,8.936,32.655-11.029,34.646-24.471l19.384-.078c1.855,11.796,7.1,23.719,17.269,31.035,9.591,6.9,22.733,4.302,28.959-5.314,4.242-6.552,7.205-12.518,10.478-20.137l13.184-.442c1.353,18.554-10.577,15.575-11.732,44.648-.358,9.014-3.309,16.019-7.645,23.234-7.41,12.328-17.235,20.808-29.279,29.047ZM150.338,188.482c4.01.822,8.321.602,11.636-2.397,3.897-3.526,7.857-14.843-.371-21.302-4.273-3.354-10.066-3.986-14.936-1.472-4.477,2.311-6.505,7.649-6.305,13.202.228,6.314,3.698,10.683,9.976,11.97ZM262.237,173.859c-3.794-4.415-13.41-5.486-17.689-2.387-4.706,3.407-6.102,13.993-2.813,18.636,2.98,4.207,13.089,6.108,18.477,1.261,3.402-3.061,5.023-14.02,2.024-17.51ZM209.869,175.649c-2.448-7.184-8.367,2.582-10.707,1.302l-8.394-4.589c-1.195-.653-5.555.741-4.931,1.925,3.276,4.821,9.197,8.376,15.084,8.015,2.851-.175,8.291-4.294,8.948-6.654ZM198.054,233.373c12.925,1.925,26.734-24.472,30.726-36.083-2.369-1.076-3.971-.201-5.72,1.258-15.171,12.659-20.464,11.824-38.938,4.001-.539-.228-2.683-.176-2.565.319.119.5.431,1.76.711,2.414,8.011,18.652,4.911,26.473,15.785,28.092Z" fill="#fff"/>
      <path d="M208.038,304.853c-2.201-2.685-1.137,7.532-1.722,8.005-.825.667-3.459,1.46-4.232.732s-1.369-2.795-1.813-4.202l-.599-1.895c-.16-.505-1.543-1.15-1.698-.645s-.495,1.905-.551,2.476l-.434,4.393c-.108,1.09-3.075,1.025-4.335.75-1.062-.231-.935-2.449-1.299-4.102l-.626-2.845c-.121-.549-1.501-.824-1.801-.366-.401.612-1.106,2.333-1.221,3.078l-.576,3.717c-.16,1.034-4.13,1.354-4.325.329s-.344-2.888-.398-4.395l-.085-2.377c-.017-.48-1.819-1.213-2.002-.768l-1.122,2.726c-.659,1.6-1.381,3.466-1.972,4.43s-4.281-.37-4.177-1.476c.203-2.15.435-5.327.485-7.523-3.873-.463-3.367,6.095-5.862,6.691-.999.239-3.309-1.081-3.874-1.967-.553-.868,1.096-2.432,1.685-3.72l1.349-2.95c.304-.665-1.821-2.299-2.353-1.789l-2.408,2.306-2.616,2.506c-.687.658-2.49-2.607-1.892-3.322,1.269-1.517,3.25-4.968,4.573-6.318,4.111-4.196,8.56-8.581,8.854-15.592.444-10.586-.122-21.425-.641-32.67,7.421,4.624,20.728,12.662,30.622,10.611,7.018-1.455,12.246-5.689,19.369-8.911l.344,12.698c.659,24.32,2.167,20.213,13.647,37.714.523.924-1.283,2.9-2.297,3.191-4.179,1.197-4.73-7.441-8.909-4.887l3.413,7.629c-.671.682-3.949,2.178-5.172,2.385l-5.084-7.161c-5.053,2.753,4.943,9.784-3.015,10.27-3.532.216-1.542-2.257-5.229-6.756Z" fill="#fff"/>
      <path d="M260.644,111.853c-7.367-3.395-14.581-4.223-22.631-4.588-14.041-.636-25.353,7.187-27.682,21.575l-17.814-.118-.548-11.093c-.609-12.324-18.445-13.601-27.97-13.854l4.706-15.928c4.218-14.277,14.616-19.418,26.592-28.439,26.825,51.253,55.767,43.585,67.643,51.985,11.624,8.222,13.57,8.677,14.699,23.069l-8.879.058c.701-5.372,1.734-10.549.552-16.132-.698-3.301-5.895-5.257-8.669-6.536Z" fill="#fff"/>
      <path d="M17.183,1262.404c-6.361-.44-10.184-5.089-10.949-10.634,28.428,4.53,56.991-2.069,84.845-6.847,25.502-4.374,47.547-4.003,72.073-10.497,2.214,5.791,1.573,16.586-6.568,17.846-12.404,1.92-23.963,3.205-36.482,4.443l-55.194,5.458c-15.878,1.57-31.466,1.356-47.726.23Z" fill="#fff"/>
      <path d="M252.395,155.563c-5.139,8.348-15.72,10.652-23.278,4.603-11.886-9.514-19.116-30.68-7.364-41.701,9.807-9.198,31.753-6.003,42.398,1.912,1.787,9.476-6.399,26.486-11.756,35.187ZM240.345,132.533c-2.959.357-4.347,4.111-3.503,6.243.625,1.58,3.562,3.142,5.174,2.679,2.278-.654,3.674-3.117,3.464-5.46-.156-1.743-2.961-3.723-5.135-3.461Z" fill="#fff"/>
      <path d="M184.896,1319.197c-4.838-2.192-4.798-9.27-4.134-13.049,27.309,5.035,58.721-1.143,75.502-24.006l9.29-12.657,13.616-19.031c2.481,5.835,1.299,11.682-2.008,16.821-8.076,12.549-16.698,24.801-26.958,35.534-12.4,12.971-28.519,19.179-46.21,18.375-6.195-.281-13.211.68-19.098-1.988Z" fill="#fff"/>
      <path d="M167.828,154.469c-11.283,6.093-20.273-11.471-21.607-19.535,10.445-4.322,13.812-15.061,17.365-25.083,5.617-.732,20.891.747,22.333,7.262,3.349,15.135-4.419,29.972-18.091,37.355ZM162.88,126.757c-2.708,1.394-2.847,5.813-1.447,7.724,1.015,1.386,4.564,1.844,6.569.809,1.707-.881,2.525-4.572,1.647-6.477-.969-2.104-4.096-3.432-6.769-2.056Z" fill="#fff"/>
      <path d="M157.295,1205.745c-11.146,5.787-41.39,8.124-51.808-2.412,7.377-5.281,10.642-13.217,12.203-22.215,12.006,1.649,22.929,2.058,36.228.555l3.377,24.072Z" fill="#fff"/>
      <path d="M274.026,1211.336c-12.373,6.937-26.017,6.303-38.153.479l-.189-24.914c12.009,1.372,22.406.475,35.097-.706l3.245,25.141Z" fill="#fff"/>
      <path d="M284.17,859.517c.135,1.314-.761,3.356-1.195,3.997s-3.266-.071-3.412-1.393l-5.245-47.386-5.434-53.845c-.11-1.092.89-2.83,1.144-3.259.344-.582,2.663-.126,2.772.712l4.624,35.654,6.747,65.52Z" fill="#fff"/>
      <path d="M275.621,863.691c-.106,1.512-3.957-.893-4.163-2.439-4.319-32.444-7.931-64.227-9.643-96.995-.146-2.799,1.477-5.799,4.008-6.352,1.709,29.131,4.647,57.004,8.605,85.505.94,6.771,1.728,12.616,1.193,20.282Z" fill="#fff"/>
      <path d="M42.66,310.972l-9.254.419.267-46.243c.014-2.455,2.265-6.342,4.634-6.703,2.678-.408,4.786,3.499,4.841,6.024.347,15.901.106,30.483-.489,46.503Z" fill="#fff"/>
      <path d="M153.707,1176.434c-12.425.754-23.144.715-35.578-.713l.185-11.103c12.885,1.25,22.698.604,35.061-1.046l.332,12.862Z" fill="#fff"/>
      <path d="M269.808,1180.904c-11.823,1.263-21.861,1.485-34.057.8l-.924-12.632c12.192,1.027,22.099.791,34.467-.622l.514,12.454Z" fill="#fff"/>
      <path d="M27.704,311.764l-8.302,1.256-1.878-33.646c-.245-4.392-.252-13.661,3.51-15.471,5.662-2.723,5.487,19.509,5.571,21.517l1.1,26.344Z" fill="#fff"/>
      <path d="M290.517,859.943c-6.711,15.37-7.47-50.722-9.896-52.462l-4.969-46.257c-.057-.531.03-2.457.459-2.584l2.763-.816c.136,3.527.025,5.654.355,8.391l11.289,93.728Z" fill="#fff"/>
      <path d="M233.681,1271.017c-1.25,9.46-18.066,3.261-27.222,1.135-2.692-.625-4.675-3.473-4.628-5.884.197-10.045,21.525-3.783,27.546-1.909,2.753.857,4.609,4.341,4.303,6.657Z" fill="#fff"/>
      <path d="M246.871,1246.259c-8.205-2.666-14.718-4.077-22.927-5.725-1.885-.378-2.49-5.021-1.639-6.617.818-1.535,3.627-4.205,5.623-4.003,7.923.8,14.676,2.359,21.927,5.012,2.354.861,3.907,4.96,3.538,6.96-.42,2.28-3.674,5.298-6.522,4.373Z" fill="#fff"/>
      <path d="M243.427,1256.98c-2.641,8.07-10.445,1.37-26.488-.526-2.543-.301-4.8-2.047-5.254-4.274-.431-2.114,2.003-5.854,4.744-6.086,6.899-.583,30.191,1.127,26.998,10.886Z" fill="#fff"/>
      <path d="M171.663,421.468l10.464,6.948c.824.547,2.005,2.35,1.813,3.274s-2.878,1.803-3.812,1.227l-11.304-6.972-1.397,5.996c-.122.524-1.402,1.461-1.901,1.702-.669.323-2.229-1.676-2.233-2.477l-.098-19.612c-.004-.806,1.697-2.706,2.368-2.415.675.292,1.822,1.485,2.007,2.302l1.254,5.521,8.714-6.808c.532-.416,2.435-.943,3.028-1.147s1.884,2.185,1.428,2.619l-10.333,9.842Z" fill="#fff"/>
      <path d="M156.272,428.579c.436.643.302,3.175-.358,3.215s-2.551-.15-3.028-.624l-5.996-5.956-5.526,6.353c-.54.621-2.066,1.385-2.743,1.581-.686.198-1.764-2.322-1.316-2.991l6.531-9.736-4.937-8.176-.179-2.116c-.061-.719,2.895-1.183,3.346-.65l5.254,6.216,5.989-5.862c.465-.455,2.505-.598,3.132-.441.838.211.557,2.596-.015,3.361l-5.713,7.641,5.559,8.185Z" fill="#fff"/>
      <path d="M60.974,1219.762c2.737,3.164,8.711,10.487,4.2,13.515-6.098,4.094-13.511-5.652-14.429-11.288-.249-1.527,2.753-3.837,4.256-3.956s4.967.567,5.973,1.729Z" fill="#fff"/>
      <path d="M234.925,425.966c.803.053,2.214,1.311,2.51,1.852s-1.451,2.499-2.177,2.479l-14.159-.391-.139-19.338c-.006-.785,1.783-2.726,2.498-2.517s2.038,1.712,2.055,2.575l.296,14.743,9.116.597Z" fill="#fff"/>
      <path d="M77.912,1212.983c2.339,2.891,8.217,8.402,4.368,12.334-1.037,1.059-4.295,1.838-5.828,1.073-3.862-1.929-6.948-6.269-7.663-10.345-.258-1.47,1.911-3.94,3.281-4.319s4.924.121,5.842,1.257Z" fill="#fff"/>
      <path d="M213.597,426.79c.565.034,1.893.858,2.324,1.177.585.432-.713,3.093-1.535,3.081l-13.973-.214.512-18.403c.02-.72,1.454-2.406,2.08-2.666.785-.326,2.148,1.573,2.168,2.521l.288,14.017,8.135.487Z" fill="#fff"/>
      <path d="M97.636,1216.299c-.452,1.427-4.341,2.994-5.597,2.201-2.913-1.838-8.232-5.627-6.951-10.03.456-1.567,4.07-3.138,5.948-2.663,4.348,1.098,8.306,5.107,6.601,10.491Z" fill="#fff"/>
      <path d="M47.712,1235.979c-3.311,3.542-8.629-1.908-11.13-5.46-.607-.861-.756-3.854-.2-4.736.668-1.06,3.067-1.864,4.88-1.663,4.343.481,9.924,8.143,6.45,11.859Z" fill="#fff"/>
      <path d="M194.162,428.864c.015.832-2.085,3.297-2.709,2.851s-2.126-2.011-2.121-2.902l.08-15.237c.004-.838,1.401-2.348,2.107-2.472s2.357,1.691,2.37,2.423l.273,15.337Z" fill="#fff"/>
      <path d="M270.327,753.57c-2.256.369,22.51-15.851,23.136-12.497-7.546,4.853-13.56,9.654-23.136,12.497Z" fill="#fff"/>
      <path d="M354.551,710.879l-16.444,10.116c-.632-.724-.982-1.099-1.164-1.37-.276-.409.899-1.707,1.358-1.991l12.596-7.801c1.172-.336,2.158-.283,3.655,1.047Z" fill="#fff"/>
      <path d="M299.923,742.877c-7.682,4.697-14.168,8.511-22.376,12.152-2.432.013,24.949-18.267,22.376-12.152Z" fill="#fff"/>
      <path d="M194.323,404.925c-1.154.894-3.713,1.704-4.486,1.164s-1.522-2.119-1.695-3.111c-.163-.935,1.636-2.795,2.57-2.884,1.5-.142,2.961.044,3.777.481s.561,3.787-.166,4.351Z" fill="#fff"/>
      <path d="M283.223,1148.045c-6.239,7.449-41.854,8.478-50.542,4.35,4.62-.7,9.296-.741,14.283-.596,12.342.359,23.578-1.685,36.258-3.754Z" fill="#224eaf"/>
      <path d="M294.005,671.194c-10.04,3.168-30.173-8.258-29.794-16.269.036-.77,2.616-.456,3.096.163,5.369,6.941,13.817,12.302,23.016,12.35,1.995.735,3.314,1.103,3.682,3.757Z" fill="#224eaf"/>
      <path d="M282.25,1030.698c.004.803-1.353,2.478-1.943,2.639-.78.213-2.317-1.58-2.319-2.505l-.019-17.535c0-.778,1.059-2.247,1.592-2.526.706-.369,2.607,1.617,2.611,2.47l.078,17.456Z" fill="#224eaf"/>
      <path d="M114.747,739.653c-.053.785-1.659,2.269-2.226,2.691s-2.185-2.094-2.118-2.815l1.486-15.954c.059-.629,1.261-2.003,1.638-2.358.502-.473,2.34,1.799,2.289,2.562l-1.069,15.872Z" fill="#224eaf"/>
      <path d="M281.948,990.653c.088,1.046-.889,3.214-1.57,3.621-.851.509-2.952-1.286-2.983-2.379l-.411-14.564c-.018-.627,1.184-2.783,1.676-2.533.657.334,2.094,1.609,2.169,2.504l1.118,13.351Z" fill="#224eaf"/>
      <path d="M113.896,769.451c.005.767-1.671,2.673-2.282,2.445-.616-.229-2.184-1.584-2.188-2.21l-.096-13.061c-.005-.717,1.681-2.258,2.335-2.564s2.139,1.741,2.145,2.579l.087,12.81Z" fill="#224eaf"/>
      <path d="M113.188,801.572c-.029.835-2.094,3.089-2.682,2.708-.594-.384-1.893-1.824-1.868-2.656l.423-14.386c.026-.872,1.126-2.413,1.72-2.836.736-.525,2.94,1.679,2.902,2.779l-.494,14.391Z" fill="#224eaf"/>
      <path d="M110.579,1047.74c3.145-3.084,3.958,19.372-.274,19.294-.694-.013-2.005-1.574-1.98-2.311l.495-14.497c.02-.594,1.367-2.102,1.759-2.486Z" fill="#224eaf"/>
      <path d="M111.507,833.569c.001.866-1.325,2.448-1.834,2.822-.505.37-2.282-1.542-2.281-2.178l.043-16.449c.002-.765,1.763-2.655,2.278-2.244s1.772,2.016,1.773,2.911l.02,15.14Z" fill="#224eaf"/>
      <path d="M117.617,706.808c-.022.641-1.623,2.404-2.156,2.723-.712.426-2.192-1.533-2.152-2.4l.669-14.852c.043-.962.942-2.598,1.414-3.189.477-.597,2.784,1.657,2.755,2.497l-.53,15.22Z" fill="#224eaf"/>
      <path d="M113.657,871.406c.062.65-1.589,2.816-2.134,2.784-.726-.042-2.126-1.51-2.199-2.289l-1.287-13.81c-.085-.912.765-2.751,1.434-3.229s2.743,1.507,2.837,2.491l1.348,14.053Z" fill="#224eaf"/>
      <path d="M169.014,1142.371c10.681.475-26.262,10.298-28.429,6.361l25.756-6.318c.573-.141,2.104-.068,2.673-.042Z" fill="#224eaf"/>
      <path d="M111.4,967.671c.01.808-1.148,2.551-1.697,2.923-.554.375-2.342-1.466-2.345-2.2l-.058-15.125c-.003-.712,1.098-2.127,1.566-2.474.628-.464,2.343,1.541,2.354,2.458l.18,14.418Z" fill="#224eaf"/>
      <path d="M113.587,1033.314c.009.503-1.752,2.233-2.066,2.622-.419.518-2.063-1.524-2.08-2.303l-.315-14.265c-.015-.692,1.131-2.212,1.614-2.58.643-.49,2.566,1.662,2.583,2.537l.264,13.988Z" fill="#224eaf"/>
      <path d="M110.504,887.476c2.973-3.613,4.964,15.476,1.06,18.945-.613.545-2.515-1.597-2.507-2.565l.112-13.72c.005-.64.924-2.16,1.335-2.659Z" fill="#224eaf"/>
      <path d="M281.775,899.532c-.002.981-1.723,3.26-2.374,2.846s-2.022-2.029-2.02-2.879l.027-12.191c.002-.852,1.299-2.485,2.04-2.754.737-.268,2.349,1.872,2.348,2.722l-.02,12.254Z" fill="#224eaf"/>
      <path d="M281.414,1068.47c.005.589-1.669,2.952-2.173,2.71-.672-.322-2.023-1.592-2.033-2.35l-.193-13.639c-.011-.751.942-2.19,1.426-2.622.646-.577,2.851,1.565,2.86,2.679l.114,13.222Z" fill="#224eaf"/>
      <path d="M280.515,928.706c.008.542-1.888,2.873-2.344,2.562-.61-.416-1.985-1.635-1.985-2.432l.002-11.336c0-.513.988-1.713,1.311-2.116.43-.537,2.824,1.04,2.835,1.724l.182,11.597Z" fill="#224eaf"/>
      <path d="M281.755,1133.644c.029.558-1.107,1.929-1.474,2.346-.494.562-2.656-1.492-2.69-2.312l-.453-10.832c-.029-.703.83-2.157,1.291-2.653s2.705,1.379,2.74,2.057l.587,11.393Z" fill="#224eaf"/>
      <path d="M111.919,1097.228c-.008.699-1.921,2.841-2.425,2.374s-1.816-2.152-1.784-2.848l.566-12.559c.023-.516,1.064-1.816,1.394-2.208.444-.527,2.399,1.43,2.391,2.216l-.142,13.025Z" fill="#224eaf"/>
      <path d="M113.034,1002.526c.045.708-1.226,2.582-1.75,2.987s-2.108-1.428-2.152-2.126l-.887-14.001c-.034-.537,1.083-1.945,1.433-2.345.461-.527,2.454,1.383,2.506,2.194l.85,13.29Z" fill="#224eaf"/>
      <path d="M110.583,918.523c4.092,4.177.919,20.705-1.103,17.623-.3-.457-1.547-1.893-1.533-2.447l.337-13.175c.016-.621,1.865-2.444,2.299-2.002Z" fill="#224eaf"/>
      <path d="M112.256,1125.476c.074.683-1.106,2.51-1.644,2.845-.716.445-2.66-1.403-2.714-2.274l-.69-11.126c-.045-.728.869-2.283,1.383-2.733.51-.447,2.349,1.155,2.427,1.874l1.237,11.415Z" fill="#224eaf"/>
      <path d="M277.149,1086.985c5.028-.058,5.169,20.66,1.289,17.17-2.694-2.423-2.313-13.228-1.289-17.17Z" fill="#224eaf"/>
      <path d="M280.148,960.761c.017.563-1.352,2.121-1.843,2.447s-2.024-1.456-2.043-2.046l-.346-11.06c-.02-.637.863-2.494,1.466-2.39s2.396,1.14,2.415,1.75l.351,11.299Z" fill="#224eaf"/>
      <path d="M198.054,233.373c-10.874-1.619-7.774-9.44-15.785-28.092-.281-.654-.592-1.914-.711-2.414-.118-.495,2.026-.547,2.565-.319,18.474,7.823,23.767,8.658,38.938-4.001,1.748-1.459,3.35-2.334,5.72-1.258-3.992,11.611-17.802,38.008-30.726,36.083Z" fill="#224eaf"/>
      <path d="M150.338,188.482c-6.278-1.287-9.748-5.655-9.976-11.97-.201-5.552,1.828-10.891,6.305-13.202,4.87-2.514,10.663-1.882,14.936,1.472,8.228,6.459,4.268,17.776.371,21.302-3.315,2.999-7.626,3.219-11.636,2.397Z" fill="#224eaf"/>
      <path d="M262.237,173.859c2.999,3.489,1.378,14.448-2.024,17.51-5.387,4.847-15.496,2.946-18.477-1.261-3.289-4.643-1.894-15.228,2.813-18.636,4.279-3.098,13.895-2.028,17.689,2.387Z" fill="#224eaf"/>
      <path d="M209.869,175.649c-.657,2.36-6.098,6.479-8.948,6.654-5.887.361-11.808-3.194-15.084-8.015-.624-1.184,3.736-2.579,4.931-1.925l8.394,4.589c2.341,1.279,8.259-8.486,10.707-1.302Z" fill="#224eaf"/>
      <path d="M240.345,132.533c2.174-.262,4.979,1.718,5.135,3.461.21,2.343-1.186,4.806-3.464,5.46-1.613.463-4.549-1.099-5.174-2.679-.844-2.132.544-5.886,3.503-6.243Z" fill="#224eaf"/>
      <path d="M162.88,126.757c2.673-1.376,5.8-.048,6.769,2.056.878,1.905.06,5.596-1.647,6.477-2.005,1.035-5.553.577-6.569-.809-1.4-1.911-1.262-6.33,1.447-7.724Z" fill="#224eaf"/>
    </g>
</svg>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .text-page {
    max-width: 720px;
    display: grid;
    gap: calc(var(--u) * 2);
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .about-grid {
    display: grid;
    gap: calc(var(--u) * 4);
    align-items: center;
    justify-items: center;
    grid-template-columns: minmax(0, 1fr);
    width: 100%;
  }

  .about-content {
    display: grid;
    gap: calc(var(--u) * 3);
    justify-items: center;
    width: 100%;
  }

  .about-copy {
    margin: 0;
  }

  .about-links {
    display: grid;
    gap: calc(var(--u) * 2);
    justify-items: center;
    text-align: center;
    color: #f45b69;
    font-weight: 700;
  }

  .about-links a {
    color: inherit;
  }

  .about-links a:visited {
    color: inherit;
  }

  .about-cv {
    text-transform: lowercase;
    justify-self: center;
  }

  .about-cv:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.12em;
    text-underline-offset: 0.18em;
  }

  .about-cv:focus-visible {
    text-decoration: underline;
    text-decoration-thickness: 0.12em;
    text-underline-offset: 0.18em;
  }

  .about-contact {
    margin: 0;
  }

  .about-email {
    text-decoration: underline;
    text-decoration-thickness: 0.12em;
    text-underline-offset: 0.18em;
  }

  .about-figure {
    width: auto;
  }

  .about-figure svg {
    display: block;
    width: auto;
    height: 200px;
  }

  @media (min-width: 769px) {
    .text-page {
      max-width: 980px;
      text-align: left;
    }

    .about-grid {
      grid-template-columns: auto auto;
      align-items: end;
      justify-content: center;
      column-gap: calc(var(--u) * 6);
      row-gap: calc(var(--u) * 3);
      justify-items: start;
    }

    .about-content {
      justify-items: start;
      max-width: 465px;
    }

    .about-links {
      justify-items: start;
      text-align: left;
    }

    .about-cv {
      justify-self: start;
    }

    .about-figure svg {
      height: 450px;
    }
  }
</style>
