<a class="logo-eye" href="/" aria-label="Home">
  <svg
    class="logo-eye__svg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 330.669 227.802"
    preserveAspectRatio="xMidYMid meet"
    aria-hidden="true"
  >
    <g class="eye-closed" opacity="0">
      <path
        class="eye-outline"
        d="M318.728,161.907c-1.74.94-3.62,1.39-5.47,1.39-4.08,0-8.04-2.18-10.12-6.02l-15.27-28.17c-5.95,5.76-13.91,13.24-23.74,20.95l13.38,26.45c2.87,5.67.6,12.59-5.07,15.46-1.67.84-3.44,1.24-5.18,1.24-4.2,0-8.25-2.31-10.27-6.32l-11.88-23.49c-7.97,4.97-16.74,9.63-26.27,13.54l7.04,23.13c1.85,6.08-1.58,12.51-7.66,14.35-1.11.34-2.24.51-3.35.51-4.93,0-9.49-3.2-11-8.16l-6.9-22.69c-6.62,1.63-13.53,2.83-20.72,3.49l.44,26.1c.11,6.35-4.95,11.58-11.31,11.69h-.19c-6.26,0-11.39-5.02-11.5-11.31l-.44-26.17c-8.06-.52-15.79-1.73-23.17-3.45l-7.13,23.48c-1.51,4.97-6.07,8.17-11,8.17-1.11,0-2.23-.16-3.34-.5-6.08-1.85-9.51-8.27-7.67-14.35l7.2-23.69c-8.68-3.44-16.74-7.48-24.14-11.8l-11.19,23.8c-1.96,4.17-6.1,6.61-10.42,6.61-1.63,0-3.3-.35-4.88-1.09-5.75-2.71-8.22-9.56-5.51-15.3l12.61-26.83c-10.05-7.42-18.22-14.68-24.33-20.27l-14.46,28.61c-2.02,4-6.07,6.31-10.27,6.31-1.75,0-3.52-.4-5.18-1.24-5.67-2.86-7.94-9.78-5.08-15.45l21.01-41.54.15-.31c.26-.52.56-1.02.89-1.48.12-.18.87-1.1,1.14-1.36.09-.11.54-.53.67-.63.13-.12.64-.54.77-.63.09-.06.7-.48.93-.61.39-.23.8-.44,1.22-.63.07-.03.61-.25.81-.32.19-.07,1.3-.38,1.51-.42.25-.05,1.28-.2,1.54-.21.27-.02.53-.03.79-.03.24,0,1.17.06,1.31.08.19.02.37.04.56.08.1.01.58.11.72.14.23.05.45.11.68.18.22.06,1.49.55,1.91.76.5.25.98.54,1.42.85,2.56,1.79,5.62,4.58,9.82,8.44,6.19,5.69,14.6,13.41,25.03,21.16,14.89,11.06,33.91,22.18,56.51,27.52,9.28,2.19,19.15,3.41,29.6,3.24.04.01.08,0,.12,0,10.64-.11,20.65-1.62,30.01-4.13,22.38-5.98,41.04-17.6,55.58-29.07,10.23-8.05,18.43-16.03,24.47-21.9,4.07-3.96,7.04-6.84,9.55-8.7.24-.18,1.43-.92,1.44-.92.2-.11.67-.34.7-.35.17-.08.34-.15.52-.22.54-.22,2.42-.67,2.48-.67.23-.04.89-.11,1-.11.25-.03.5-.03.75-.03.26,0,.51.01.76.03.2,0,.4.02.6.05.12.01.24.03.36.05.18.03.37.06.55.1.24.04.47.1.71.16.02,0,.03.01.05.02.24.06.47.13.7.21.24.08.77.29.79.3.44.19.87.41,1.28.65.22.12.43.26.64.4.01,0,.02.01.03.01.21.15.41.29.6.44.2.16.61.51.63.52.18.17.35.34.53.52s.35.37.52.57.34.41.5.63c.15.21.3.43.45.66.14.23.28.46.41.7l.2.36,22.15,40.87c3.03,5.58.96,12.56-4.63,15.59Z"
      />
    </g>
    <g class="eye-open">
      <path
        class="eye-outline"
        d="M318.931,63.311c-5.63-2.94-12.58-.75-15.51,4.88l-14.82,28.42c-6.04-5.66-14.12-13.02-24.07-20.56l12.94-26.67c2.78-5.71.39-12.59-5.32-15.37-5.72-2.77-12.59-.39-15.37,5.33l-11.49,23.67c-7.35-4.41-15.35-8.56-23.98-12.1l7.49-23.61c1.92-6.06-1.43-12.52-7.49-14.44-6.05-1.92-12.52,1.43-14.44,7.48l-7.42,23.41c-7.36-1.82-15.08-3.12-23.13-3.75l-.11-26.18c-.03-6.33-5.17-11.44-11.5-11.44h-.05c-6.35.02-11.48,5.19-11.45,11.55l.11,26.1c-7.19.57-14.12,1.68-20.76,3.22l-6.62-22.76c-1.77-6.1-8.15-9.61-14.25-7.84-6.1,1.78-9.61,8.16-7.83,14.26l6.74,23.22c-9.57,3.78-18.4,8.33-26.43,13.19l-11.58-23.62c-2.8-5.7-9.69-8.06-15.39-5.26-5.7,2.79-8.06,9.68-5.26,15.39l13.04,26.62c-9.92,7.58-17.97,14.97-23.99,20.65l-14.92-28.36c-2.96-5.62-9.91-7.78-15.53-4.82-5.63,2.95-7.78,9.91-4.83,15.53l21.69,41.22.53.95c8.79,15.08,59.61,63.79,133.66,64.89h.05c.2.01.39.01.59.01.38.01.77.01,1.15.02.26.01.52.01.78.01h.96c.47,0,.94,0,1.41-.02.59,0,1.19-.01,1.78-.03h.05c73.94-1.4,124.54-50.2,133.37-65.37.06-.09.64-1.17.64-1.17l21.44-41.14c2.94-5.63.75-12.58-4.88-15.51ZM263.071,128.401c-5.02,3.97-11,8.2-17.94,12.33-12.69,7.56-30.76,16.06-52.74,20.23-7.55,1.43-15.56,2.36-23.98,2.55h-.15c-.62.02-1.23.03-1.86.02-.55.02-1.09.02-1.64.02-.88,0-1.77-.01-2.66-.03h-.26c-8.57-.13-16.74-1.03-24.42-2.46-21.98-4.09-40.07-12.51-52.78-20.01-6.96-4.1-12.96-8.3-17.99-12.26-5.62-4.42-10.03-8.52-13.19-11.83.23-.21.46-.43.7-.66,6.1-5.79,14.38-13.64,24.68-21.56,14.69-11.29,33.51-22.7,56-28.41,9.27-2.36,19.16-3.75,29.65-3.76h.83c10.35,0,20.11,1.34,29.28,3.63h.01c22.5,5.62,41.35,16.94,56.09,28.18l.01.01c10.35,7.88,18.67,15.71,24.8,21.47.24.22.47.44.7.66-3.14,3.31-7.53,7.44-13.14,11.88Z"
      />
      <path
        class="eye-white"
        d="M276.128,116.148c-3.14,3.31-7.53,7.44-13.14,11.88-5.02,3.97-11,8.2-17.94,12.33-12.69,7.56-30.76,16.06-52.74,20.23-7.55,1.43-15.56,2.36-23.98,2.55l-6.57.01c-8.57-.13-16.74-1.03-24.42-2.46-21.98-4.09-40.07-12.51-52.78-20.01-6.96-4.1-12.96-8.3-17.99-12.26-5.62-4.42-10.03-8.52-13.19-11.83.23-.21.46-.43.7-.66,6.1-5.79,14.38-13.64,24.68-21.56,14.69-11.29,33.51-22.7,56-28.41,9.27-2.36,19.16-3.75,29.65-3.76h.83c10.35,0,20.11,1.34,29.28,3.63h.01c22.5,5.62,41.35,16.94,56.09,28.18l.01.01c10.35,7.88,18.67,15.71,24.8,21.47.24.22.47.44.7.66Z"
      />
      <g class="iris">
        <ellipse class="iris-red" cx="164.753" cy="112.528" rx="50.625" ry="50.126" />
        <ellipse class="iris-blue" cx="164.753" cy="112.528" rx="26.127" ry="25.869" />
        <ellipse class="highlight" cx="172.304" cy="105.052" rx="7.551" ry="7.476" />
      </g>
    </g>
  </svg>
</a>
